In [ ]:
import scipy
import pandas as pd
import seaborn as sns
import numpy as np
from fsspec import filesystem

In [ ]:
df = pd.read_parquet(
    "https://github.com/oturns/example_datasets/raw/refs/heads/main/acs/ca_tracts_2021.pq"
)

la = df[df.geoid.str.startswith("06037")]

oc = df[df.geoid.str.startswith("06059")]

## Descriptives

In [ ]:
oc['n_total_pop'].describe()

what are the mean and standard deviation of the `n_married` column of the `la` dataframe?

In [ ]:
# your code here

*write the mean and standard deviation here*

compute the correlation between `median_household_income` and `p_edu_hs_less` for the `oc` dataframe.

hint: remember that you can select multiple columns in a dataframe by putting them in double brackets, and the `corr()` method computes the correlation between pairs of columns

In [ ]:
# your code here

Now compute the same correlation for LA. Which county has a stronger correlation between income and (lower) educational attainment?

## Data Visualization

use whatever method you like to create a histogram of the `median_contract_rent` column for the `oc` dataframe

use `sns.scatterplot` to create a scatterplot of  `median_household_income` and `p_edu_hs_less` for the `la` dataframe

## Hypothesis Testing

you are a regional transportation planner studying traffic accidents. It seems there was a noticeable drop in accidents last year so you want to setup a formal test using data you've collected on accidents in 2024 and 2025. In a markdown cell below, write the null hypothesis and alternative hypothesis (in words, not math) you plan to test.


- **H0**:

- **HA**:

You collect traffic data and run your statistical test. It returns a p-value of 0.076. To you reject or fail to reject your hypothesis, assuming $\alpha=0.05$?

In words, explain what this *p-value* represents

add a markdown cell below this one and write your name in **bold**.

Save and download this notebook, then submit it in Canvas