# UPPP 214 Assignment 1

Open this notebook on google colab with the button below  

<a target="_blank" href="https://colab.research.google.com/github/knaaptime/uppp214-winter26-assn/blob/main/assignments/assignment1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>


**Dont forget to press the button in the toolbar that says "Copy to Drive"**

In [1]:
import pandas as pd

In [2]:
tracts = pd.read_parquet("https://github.com/oturns/example_datasets/raw/refs/heads/main/acs/ca_tracts_2021.pq")

The `tracts` dataframe holds all census tracts in california. To subset the dataframe into Orange County, we select all FIPS codes that start with `06059` because 06059 is the FIPS code for OC

In [4]:
oc_tracts = tracts[tracts.geoid.str.startswith('06059')]

In [5]:
oc_tracts.head()

,geoid,n_mexican_pop,n_cuban_pop,n_puerto_rican_pop,n_russian_pop,n_italian_pop,n_german_pop,n_irish_pop,n_scandaniavian_pop,n_foreign_born_pop,...,p_poverty_rate,p_poverty_rate_over_65,p_poverty_rate_children,p_poverty_rate_white,p_poverty_rate_black,p_poverty_rate_hispanic,p_poverty_rate_native,p_poverty_rate_asian,geometry,year
4248,06059001101,2956.0,55.0,0.0,0.0,77.0,82.0,30.0,0.0,605.0,...,1.438010,0.252623,0.155461,1.068791,0.0,0.777303,0.000000,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
4249,06059001102,1492.0,272.0,65.0,0.0,23.0,29.0,13.0,13.0,610.0,...,6.688418,1.196302,0.299076,4.486134,0.0,3.289831,0.000000,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
4250,06059001103,2256.0,0.0,13.0,14.0,41.0,13.0,23.0,0.0,1255.0,...,6.963494,1.645917,0.865161,2.996413,0.0,4.705634,2.658789,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
4251,06059001201,3890.0,0.0,85.0,0.0,28.0,32.0,82.0,0.0,1887.0,...,10.572139,0.355366,1.794598,1.918977,0.0,9.594883,0.000000,0.0,"b""\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...",2021
4252,06059001202,2936.0,0.0,6.0,0.0,16.0,43.0,11.0,0.0,1377.0,...,17.756047,3.216675,2.676274,9.701493,0.0,11.888832,0.000000,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021

The FIPS code for San Diego county is `06073`. Copy and paste the code in the cell above, then swap out the FIPS code to create a subset of tracts in San Diego and save it in a variable called `sd_tracts`

hint: (see Cell 3 above) the cell should begin with `sd_tracts =`

In [6]:
sd_tracts = tracts[tracts.geoid.str.startswith('06073')]

Now display the first ***10 rows*** of the `sd_tracts` dataframe using the `.head()` method

In [7]:
sd_tracts.head(10)

,geoid,n_mexican_pop,n_cuban_pop,n_puerto_rican_pop,n_russian_pop,n_italian_pop,n_german_pop,n_irish_pop,n_scandaniavian_pop,n_foreign_born_pop,...,p_poverty_rate,p_poverty_rate_over_65,p_poverty_rate_children,p_poverty_rate_white,p_poverty_rate_black,p_poverty_rate_hispanic,p_poverty_rate_native,p_poverty_rate_asian,geometry,year
6320,06073000100,228.0,0.0,21.0,45.0,117.0,34.0,35.0,0.0,277.0,...,1.623816,0.304465,0.000000,1.082544,0.000000,1.116373,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6321,06073000201,40.0,11.0,0.0,13.0,101.0,65.0,112.0,0.0,216.0,...,6.323084,2.771763,0.000000,4.677350,0.000000,0.909485,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6322,06073000202,431.0,0.0,59.0,78.0,233.0,150.0,66.0,0.0,879.0,...,4.217016,0.000000,0.123305,3.699137,0.000000,1.331689,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6323,06073000301,396.0,0.0,19.0,0.0,21.0,83.0,53.0,0.0,439.0,...,17.155556,0.622222,2.444444,16.311111,0.000000,4.888889,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6324,06073000302,526.0,0.0,66.0,13.0,70.0,121.0,132.0,0.0,199.0,...,7.102672,1.265823,0.000000,4.887482,2.215190,3.059072,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6325,06073000400,569.0,0.0,38.0,12.0,25.0,98.0,0.0,0.0,649.0,...,5.704996,0.000000,0.000000,3.458469,0.591191,0.000000,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6326,06073000500,303.0,9.0,8.0,9.0,58.0,63.0,62.0,0.0,341.0,...,6.783010,0.658545,0.296345,5.729338,0.032927,0.526836,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6327,06073000600,528.0,0.0,62.0,39.0,61.0,101.0,122.0,0.0,385.0,...,7.728411,2.659574,0.000000,6.821026,0.219024,0.375469,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6328,06073000700,513.0,0.0,41.0,91.0,44.0,146.0,57.0,0.0,596.0,...,8.774758,3.270382,0.483648,5.435283,0.598802,0.000000,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
6329,06073000800,877.0,0.0,93.0,49.0,49.0,94.0,170.0,6.0,544.0,...,6.711281,0.573614,0.000000,6.099426,0.611855,2.026769,0.0,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021

The `shape` attribute of the dataframe tells us the number of rows and columns in the dataframe. How many rows are there in the `sd_tracts` dataframe?

In [ ]:
sd_tracts.shape
# There are 737 rows in the sd_tracts dataframe

(737, 158)

One of the columns in the dataframe is called `median_home_value`. Use the `describe` method on the median home value column. If you forgot how, take a look back at the [week 2 lecture materials](https://knaaptime.com/uppp214-winter26/lectures/week2/00_descriptives.html#describing-a-variable).

In [9]:
sd_tracts['median_home_value'].describe()

count    7.080000e+02
mean     6.682728e+05
std      3.196528e+05
min      2.920000e+04
25%      4.715750e+05
50%      5.946000e+05
75%      7.497000e+05
max      2.000001e+06
Name: median_home_value, dtype: float64

Add a markdown cell below this one. Write down the mean and standard deviation of the column `median_home_value`

* `mean`: 668,272
* `standard deviation`: 319,653

Add a markdown cell below this one and describe which part of the course you find most challenging. At the end of the cell, write your name in **bold** using markdown syntax

Learning the syntax for markdown is the most difficult for me because I need to keep looking up the syntax. Its makes it much slower to work with but I am hoping with more practice, that will go away.
**Rohin Chander**

If you get errors in any of the cells above and are unable to run your code, then add a markdown cell below this one and describe what you tried to do, the error message you received, and the steps you took to try and troubleshoot the problem.

If all your code executed correctly, you can skip this step.

**Bonus**: For extra credit, use the `numpy.random.normal` function to generate 500 random data points from a normal distribution with a mean of 25 and a standard deviation of 2 (see week 3 materials)

In [11]:
# bonus answer here
import numpy as np

rand_norm = np.random.normal(loc=25, scale=2, size=500)
pd.Series(rand_norm).describe()

count    500.000000
mean      25.083192
std        2.013858
min       18.844219
25%       23.677339
50%       25.063102
75%       26.445188
max       31.360249
dtype: float64

When you are finished, click `File` in the upper left toolbar, then `Download as ipynb`. Submit this file on canvas.