# UPPP 214 Assignment 1

Open this notebook on google colab with the button below  

<a target="_blank" href="https://colab.research.google.com/github/knaaptime/uppp214-winter26-assn/blob/main/assignments/assignment1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>


**Dont forget to press the button in the toolbar that says "Copy to Drive"**

In [1]:
import pandas as pd

In [2]:
tracts = pd.read_parquet("https://github.com/oturns/example_datasets/raw/refs/heads/main/acs/ca_tracts_2021.pq")

The `tracts` dataframe holds all census tracts in california. To subset the dataframe into Orange County, we select all FIPS codes that start with `06059` because 06059 is the FIPS code for OC

In [3]:
oc_tracts = tracts[tracts.geoid.str.startswith('06059')]

In [4]:
oc_tracts.head()

,geoid,n_mexican_pop,n_cuban_pop,n_puerto_rican_pop,n_russian_pop,n_italian_pop,n_german_pop,n_irish_pop,n_scandaniavian_pop,n_foreign_born_pop,...,p_poverty_rate,p_poverty_rate_over_65,p_poverty_rate_children,p_poverty_rate_white,p_poverty_rate_black,p_poverty_rate_hispanic,p_poverty_rate_native,p_poverty_rate_asian,geometry,year
4248,06059001101,2956.0,55.0,0.0,0.0,77.0,82.0,30.0,0.0,605.0,...,1.438010,0.252623,0.155461,1.068791,0.0,0.777303,0.000000,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
4249,06059001102,1492.0,272.0,65.0,0.0,23.0,29.0,13.0,13.0,610.0,...,6.688418,1.196302,0.299076,4.486134,0.0,3.289831,0.000000,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
4250,06059001103,2256.0,0.0,13.0,14.0,41.0,13.0,23.0,0.0,1255.0,...,6.963494,1.645917,0.865161,2.996413,0.0,4.705634,2.658789,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021
4251,06059001201,3890.0,0.0,85.0,0.0,28.0,32.0,82.0,0.0,1887.0,...,10.572139,0.355366,1.794598,1.918977,0.0,9.594883,0.000000,0.0,"b""\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...",2021
4252,06059001202,2936.0,0.0,6.0,0.0,16.0,43.0,11.0,0.0,1377.0,...,17.756047,3.216675,2.676274,9.701493,0.0,11.888832,0.000000,0.0,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...,2021

The FIPS code for San Diego county is `06073`. Copy and paste the code in the cell above, then swap out the FIPS code to create a subset of tracts in San Diego and save it in a variable called `sd_tracts`

hint: (see Cell 3 above) the cell should begin with `sd_tracts =`

In [5]:
# put your answer here

Now display the first ***10 rows*** of the `sd_tracts` dataframe using the `.head()` method

In [6]:
# put your answer here

The `shape` attribute of the dataframe tells us the number of rows and columns in the dataframe. How many rows are there in the `sd_tracts` dataframe?

In [7]:
# put your answer here

One of the columns in the dataframe is called `median_home_value`. Use the `describe` method on the median home value column. If you forgot how, take a look back at the [week 2 lecture materials](https://knaaptime.com/uppp214-winter26/lectures/week2/00_descriptives.html#describing-a-variable).

In [8]:
# put your answer here

Add a markdown cell below this one. Write doen the mean and standard deviation of the column `median_home_value`

Add a markdown cell below this one and describe which part of the course you find most challenging. At the end of the cell, write your name in **bold** using markdown syntax

If you get errors in any of the cells above and are unable to run your code, then add a markdown cell below this one and describe what you tried to do, the error message you received, and the steps you took to try and troubleshoot the problem.

If all your code executed correctly, you can skip this step.

**Bonus**: For extra credit, use the `numpy.random.normal` function to generate 500 random data points from a normal distribution with a mean of 25 and a standard deviation of 2 (see week 3 materials)

In [9]:
# bonus answer here

When you are finished, click `File` in the upper left toolbar, then `Download as ipynb`. Submit this file on canvas.